[Unit]
Description=mesh-potato network creation
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/root/.mesh-potato/enable_mesh

[Install]
WantedBy=multi-user.target

